In [1]:
# Only uncomment if you are running notebook using Docker image
import os; os.environ['PROJ_LIB'] = '/opt/conda/share/proj'

In [38]:
import pandas as pd
import numpy as np
from datetime import datetime

In [39]:
# Load dataset
df = pd.read_csv("mock_particle_trajectory.csv")

In [40]:
df.head()

   trajectory_id         datetime   latitude  longitude  temperature
0              1  4/13/2022 21:00  47.484776 -63.311108            2
1              1  4/13/2022 21:10  47.484440 -63.311733            3
2              1  4/13/2022 21:20  47.484764 -63.311810            0
3              1  4/13/2022 21:30  47.484920 -63.311733           -1
4              1  4/13/2022 21:40  47.485010 -63.311676           -1

In [41]:
def datetime_to_timestamp(dt):
    #dt is a datetime object
    #convert to timestamp integer 
    return datetime.strptime(dt, '%m/%d/%Y %H:%M').minute

In [90]:
def mask_rows(df, time_interval, mask_val, mask_lst):
    #df['timestamp_minute'] = df['datetime'].map(lambda x: datetime_to_timestamp(x))
    t = datetime.strptime(df.iloc[0].datetime, '%m/%d/%Y %H:%M')
    df['tdiff'] = df.datetime.map(lambda x: datetime.strptime(x, '%m/%d/%Y %H:%M')) - t
    df['tdiff_min'] = df.tdiff.map(lambda x: int(x.seconds/60))
    for i in range(len(df.tdiff_min)):
        if(df.tdiff_min[i] % time_interval != 0):
            for col in mask_lst:
                df[col][i] = mask_val
    df_new = df[['trajectory_id', 'datetime', 'latitude','longitude', 'temperature']]
    return df_new

In [91]:
mask_rows(df, 60, -999, ['latitude','longitude', 'temperature'])

/tmp/ipykernel_1471/1711741258.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = mask_val

     trajectory_id         datetime    latitude   longitude  temperature
0                1  4/13/2022 21:00   47.484776  -63.311108            2
1                1  4/13/2022 21:10 -999.000000 -999.000000         -999
2                1  4/13/2022 21:20 -999.000000 -999.000000         -999
3                1  4/13/2022 21:30 -999.000000 -999.000000         -999
4                1  4/13/2022 21:40 -999.000000 -999.000000         -999
..             ...              ...         ...         ...          ...
514              1  4/17/2022 10:40 -999.000000 -999.000000         -999
515              1  4/17/2022 10:50 -999.000000 -999.000000         -999
516              1  4/17/2022 11:00   47.901695  -62.330463           12
517              1  4/17/2022 11:10 -999.000000 -999.000000         -999
518              1  4/17/2022 11:20 -999.000000 -999.000000         -999

[519 rows x 5 columns]